@import url("https://fonts.googleapis.com/css?family=Open+Sans|Dosis:400|Roboto:300");

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: gray;
    background-color: whitesmoke;
    height: 100%;
}

#startcontainer {
    height: 100vh;
    background: #0f183c url("images/atlantablur.jpg") no-repeat fixed center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

#intro {
    font-family: 'Dosis', serif;
    font-size: 6vw;
    color: white;
}

.aboutme {
    font-family: 'Dosis', serif;
    font-size: 2vw;
    color: white;
    text-shadow: 0.04em 0 #191919, 0 0.04em #191919, -0.04em 0 #191919, 0 -0.04em #191919;
}

@media (orientation:portrait) {
    #intro {
        font-size: 7vw;
    }

    .aboutme {
        font-size: 4vw;
    }
}

.bash {
    width: 40vw;
    height: 23vh;
    border-radius: .5vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #343A40;
    box-shadow: 0 0 20px #414141;
}

.bash #bashheader {
    border-top-left-radius: .5vw;
    border-top-right-radius: .5vw;
    width: 40vw;
    height: 3vh;
    line-height: 3vh;
    color: black;
    font-family: 'Roboto', serif;
    font-size: 1.75vh;
    text-align: center;
    margin-bottom: 0;
    background: #f6f6f6; /* Old browsers */
    background: -moz-linear-gradient(top, #f6f6f6 0%, #d3d3d3 97%, #808080 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f6f6f6 0%,#d3d3d3 97%,#808080 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f6f6f6 0%,#d3d3d3 97%,#808080 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#808080',GradientType=0 );
}

.bash #bashtext {
    margin-top: 0;
    width: 40vw;
    height: 20vh;
    padding-left: 1vw;
    color: #CED4DA;
    font-family: 'Open Sans', serif;
    font-size: 2vh;
}

@media (orientation:portrait) {
    .bash {
        width: 60vw;
        height: 23vh;
        border-radius: 1vw;
    }

    .bash #bashheader {
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        width: 60vw;
        height: 3vh;
        font-size: 3vw;
    }

    .bash #bashtext {
        margin-top: 0;
        width: 60vw;
        height: 20vh;
        font-size: 3vw;
    }
}

#profileimg {
    width: 40vh;
    height: 40vh;
    object-position: 0 0;
    object-fit: cover;
    border-radius: 50%;
}

@media (orientation:portrait) {
    #profileimg {
        width: 40vw;
        height: 40vw;
        object-position: 0 0;
        object-fit: cover;
        border-radius: 50%;
    }
}

#projectslist {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50vw;
}

.project {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    width: 40vw;
    background: lightgrey;
}

.project img {
    width: 30vw;
    object-position: 0 0;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1vh;
}

.project h2, h3, h4, h5 {
    color: black;
    text-align: center;
}

.project p {
    color: black;
}

.project a {
    display: block;
    text-align: center;
}

h1, h2, h4, h5 {
    font-family: 'Open Sans', sans-serif;
}

#about {
    text-align: center;
}

#projecttitle {
    font-size: 3vw;
    text-align: center;
}

#navbar > ul {
    margin: 0;
    padding: 10px 0 0;
    list-style: none;
    width: 100%;
    text-align: center;
}

#navbar > ul > li {
    margin: 0 2em;
    display: inline-block;
    float: right;
    border-bottom: solid #7f8c8d 2px;
    position: relative;
}

.nav-link {
    width: 100%;
    height: 100%;
    margin: 0;
    text-decoration: none;
}

#links {
    padding-top: 2vh;
    padding-bottom: 0.5vh;
    text-align: center;
}

a {
    color: #7f8c8d;
}
