@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Work+Sans:100,200,300,400,500,600,700,800,900');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #0f3443;
    background: linear-gradient(120deg, #0f3443 0%, #82d7c7 100%) no-repeat fixed;
    font-family: 'Work Sans', sans-serif;
    color: white;
}

.outer-flex {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

.flex {
    display: flex;
    flex: 9;
    flex-direction: column;
    height: 100%;
    margin-left: 1vw;
}

#imageName {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 100%;
    justify-content: stretch;
}

@media (orientation:portrait) {
    #imageName {
        flex-direction: column;
    }
}

#myName h1 {
    font-size: 6.5vw;
    font-weight: 300;
    margin: 0;
}

#myName p {
    font-size: 1.8vw;
    font-weight: 200;
    margin: 0;
}

#myPicture {
    flex: 2;
    display: flex;
    justify-content: center;
}

#pictureOfMe {
    max-width: 25vw;
    border-radius: 50%;
    width: 100%;
    margin: auto;
}

@media (orientation:portrait) {
    #pictureOfMe {
        max-width: none;
        max-height: 30vh;
        width: inherit;
        height: 100%;
    }

    #mySkills {
        justify-content: flex-start !important;
    }
}

#mySkills {
    flex: 3;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#mySkills h1, #mySkills h2, #mySkills h3, #mySkills p {
    margin: 0;
}

#mySkills h1 {
    text-align: center;
    font-weight: 300;
    font-size: 3.5vw;
}

#mySkills h3 {
    font-weight: 300;
    font-size: 2vw;
}

#mySkills li {
    font-weight: 200;
    font-size: 1.5vw;
}

.skillList {
    margin: 0;
}

@media (orientation:portrait) {
    #mySkills h1 {
        font-size: 4vw !important;
    }

    #mySkills h3 {
        font-size: 3vw !important;
    }

    #mySkills li {
        font-size: 3vw !important;
    }
}